/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "open_sansregular";
  src: url("fonts/opensans-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("fonts/opensans-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 25px;
  padding-right: 10px;
  background-color: #313131;
  border: transparent;
  border-bottom: #b8b5b5;
  border-width: 5px;
  border-style: groove;
  padding-bottom: 10px;
}

li {
  border-bottom-style: groove;
}

a {
  color: white;
  text-decoration-line: none;
  font-weight: bolder;
}

a:active {
  color: yellow;
}

main {
  padding: 10px;
  background: #560ac6;
  background: linear-gradient(
    90deg,
    rgba(86, 10, 198, 1) 0%,
    rgba(135, 0, 232, 1) 40%,
    rgba(125, 0, 209, 1) 70%,
    rgba(133, 20, 127, 1) 100%
  );
}

h1 {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 700;
  text-shadow: 1px 2px 5px #000000;
  color: white;
}

h2 {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 600;
  text-shadow: 1px 2px 5px #000000;
  color: white;
  text-decoration: underline;
}

h3 {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 600;
  text-shadow: 1px 2px 5px #000000;
  color: white;
}

.link {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 500;
  text-shadow: 1px 2px 5px #000000;
  color: white;
  background-color: #ff0000;
  padding: 2px;
  border-color: #898989;
  border-width: 2px;
  border-radius: 3px;
  border-style: outset;
}

p {
  font-family: "open_sansregular", Arial, sans-serif;
  font-weight: 100;
  text-shadow: 1px 2px 5px #000000;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

dl {
  font-family: "open_sansregular", Arial, sans-serif;
  font-weight: 100;
  text-shadow: 1px 2px 5px #000000;
  color: white;
}
dt {
  margin-top: 10px;
  font-size: 14px;
}

footer {
  color: white;
  font-family: "Nunito Sans";
  font-weight: bolder;
  font-size: 15px;
  padding-right: 10px;
  background-color: #313131;
  border: transparent;
  border-top: #b8b5b5;
  border-width: 5px;
  border-style: groove;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  border-style: hidden;
}
